@personNotify-less: personNotify;

.@{personNotify-less}_par1_div_huiying{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  background-color: rgb(255, 255, 255);
}
.@{personNotify-less}_par1_card{
  margin: 5px 8px;
  padding: 5px 5px;
}

.@{personNotify-less}_par1_cardHeader{
  height: 18px;
  color: blue
}

.@{personNotify-less}_par1_Flex{
  width: 100%;
  font-size: 20px;
}
.@{personNotify-less}_par1_Flex_color{
  color: #3DA6DD;
}

.@{personNotify-less}_par1_Flex_width{
  width: 300px;
}
