//
   Created by z on 2016/11/30.
extends ../layout
block head
    title  达观数据
    link(href='/web/css/apply.css', rel='stylesheet')

block body
    .html-title.service
    .container
        .bread-crumb
            span.icon
            a(href='/') 首页
            span &gt;
            a(href='/web/serviceCenter.html') 服务中心
            span &gt;
            a(href='javascript:void(0)') 达观数据
    .container.da
        .row
            h3.text-center
                img(src="/web/images/da_title.png" width="1000px")
        .row
            .col-xs-12
                h4.da-title 优惠服务
                p 金秋来临之际，凡是通过汇智e站登陆达观，享受大数据技术服务企业，一律可享受八折优惠。
            .da-box
                .da-service.da-red
                    h5 机器审核
                    .icon
                    p 一键清除社交媒体和直播等平台评论和弹幕中色情反动、垃圾广告、不文明用语等垃圾内容
                .da-value
                    h5 服务价值
                    p 社会角度：能成为政府监管下的佼佼者
                    p 平台角度：节约人力成本
            .da-box
                .da-service
                    h5 机器阅读
                    .icon.icon2
                    p 机器帮助媒体等平台编辑阅读网站文章，提取重要标签，快速进行文章分类，准确判定文章质量
                .da-value
                    h5 服务价值
                    p 机器阅读高效率零失误可取代人类阅读
                    p 用户花十分钟找到的文章经机器阅读处理后可花10秒钟
            .da-box
                .da-service.da-green
                    h5 搜索引擎
                    .icon.icon3
                    p 达观的搜索引擎具备双向反馈功能，不仅能直接从网站上，把用户所搜索的信息正确返回给用户，还能把用户所搜索的内容准确反馈给网站，从而达到网站与用户的双向优化。
                .da-value
                    h5 服务价值
                    p 每个网站都可拥有百度式体验
                    p 留住用户最好的方式
            .da-box
                .da-service.da-mi
                    h5 数据挖掘
                    .icon.icon4
                    p 达观数据挖掘系统可采集全网公开并极具价值的数据信息，从数据中预测用户行为喜好，从数据中分析盈利方式。
                .da-value
                    h5 服务价值
                    p 每一份用户数据都是潜在的客户，达观将你的意向客户送到你的面前。
            .da-box
                .da-service
                    h5 推荐系统
                    .icon.icon5
                    p 达观帮助购物网站和资讯网站所提供的推荐系统，有效提高站内流量转化，增加二跳率、三条率甚至更多转化率。
                .da-value
                    h5 服务价值
                    p 个性化功能使用户不知不觉间在网站完成多次消费。
        .row
            .col-xs-12
                h4.da-title 优惠服务使用流程
                figure.float-right
                    img(src='/web/images/da_homepage.png' width="500px")
                article
                    p 1、登录达观数据官网，选择您所要体验的服务，在产品页面申请时，说明来自汇智E站即可享受八折优惠。
                    p 2、达观工作人员将会为您开通测试账号。
                    p 3、您轻松调用API即可享用达观的各项服务。
                h4.da-title 达观介绍
                article.info
                    p
                        |达观数据是专注于企业大数据服务的高科技创业公司，致力于为新媒体、电商、视频、金融、企业等提供最专业的大数据挖掘技术服务。
                        |核心团队来自腾讯、盛大、阿里、百度大数据部门，获得了真格基金等联合投资，由原盛大文学首席数据官和腾讯文学高级总监陈运文博士担任CEO。
                        |达观在文本语义分析、用户行为挖掘方面申请有二十余项国家发明专利，曾摘取ACM KDD CUP、CIKM等世界著名大数据竞赛的冠军荣誉，
                        |以独创的多层次智能挖掘算法，实现对海量用户行为和文本数据的深入分析和挖掘，为企业提供智能文本分析、精准用户行为建模、个性化推荐、智能搜索等尖端数据挖掘功能，
                        |快速帮助大量企业完成大数据挖掘系统部署，提升企业运营效率和利润，真正让大数据技术为企业创造价值。
                h4.da-title 达观荣誉
                article.info
                    figure.float-right
                        img(src='/web/images/da_awards2.png' width="500px")
                    p
                        | 2016中国青年互联网创业大赛于9月24日在杭州“梦想小镇”落下帷幕，完美收官。经过一场场激烈角逐，
                        | 来自上海的“达观数据”拔得头筹，其参赛项目“基于用
                        | 户行为挖掘的大数据预测系统”以最高分问鼎大赛，赢走30万元创业奖金。
                    p
                        | 大赛由共青团中央、中央网信办、浙江省人民政府主办，共青团浙江省委、浙江省网信办、杭州市人民政府、
                        | 中国青少年新媒体协会承办，杭州未来科技城（海创园）管委会协办，战略合作单位为中国移动浙江分公司和浙江省农村信用社联合社。
                        | 风险投资机构负责人、互联网大咖、媒体代表、入围决赛的参赛项目负责人及创业青年代表等800余人，参加总决赛暨颁奖仪式，共同见证大赛冠军奖的产生。
                    figure.float-left
                        img(src='/web/images/da_awards.png' width="580px")
                        figcaption.text-center 共青团中央书记处书记汪鸿雁为冠军达观数据颁奖
                    p
                        | 最终达观数据联合创始人高翔带来的“基于用户行为挖掘的大数据预测系统”项目获得大赛冠军，
                        | 捧得30万元创业奖金，同时获得大赛金奖。共青团中央书记处书
                        | 记汪鸿雁、浙江省人民政府副省长高兴夫出席总决赛暨颁奖仪式并为获奖选手颁奖。
                    p
                        | 本届大赛自今年6月启动以来，共收到1.2万余个项目报名，涵盖全国各省市及台湾地区。经过初赛、复赛，100件作品进入全国赛决赛。
                        | 9月24日，大赛以秘密答辩、公开答辩形式进行晋级赛比拼，最终产生金奖10个、银奖20个、铜奖70个，在正式创业类金奖范围内产生冠军奖1个。
                    p
                        | 各家媒体在第一时间给予达观数据极高的赞扬，青年时报给予“达观数据”头版头条的报道式祝贺，创业邦也在快报专栏中给予“达观数据”首条位置的24小时不
                        | 停快报。与此同时，达观公司所在园区上海浦东软件园也高度赞扬达观数据带给园区的冠军荣耀。








include ../include/footer
//script(src="/web/js/huntApply.js")

