extends ../layout
block head
    title  猎聘申请
    link(href='/web/css/apply.css', rel='stylesheet')

block body
    .html-title.service
    .container
        .bread-crumb
            span.icon
            a(href='/') 首页
            span &gt;
            a(href='/web/serviceCenter.html') 服务中心
            span &gt;
            a(href='javascript:void(0)') 猎聘申请
    .container.huntApply
        .col-xs-12
            p.msg#notice
        .col-xs-12
            form.form-horizontal#form(name="form",role="form",method="POST")
                .col-xs-12
                    label.read
                        input#mustRead(type='checkbox',name='mustRead')
                        span 已阅读
                .form-group
                    .col-xs-11
                        .col-xs-3.text-right
                            label.control-label
                                span.star
                                span 姓名：
                        .col-xs-8
                            input.form-control(type='text',name='chineseName',placeholder='请输入姓名')
                .form-group
                    .col-xs-11
                        .col-xs-3.text-right
                            label.control-label
                                span.star
                                span E-mail：
                        .col-xs-8
                            input.form-control(type='text', placeholder='请输入邮箱',name='email')
                .form-group
                    .col-xs-11
                        .col-xs-3.text-right
                            label.control-label
                                span.star
                                span 公司名称：
                        .col-xs-8
                            input.form-control(type='text',placeholder='请输入公司名称',name='company')
                .form-group
                    .col-xs-11
                        .col-xs-3.text-right
                            label.control-label
                                span.star
                                span 联系方式：
                        .col-xs-8
                            input.form-control(type='text',name='phone')
                div#cont
                    .bg_gray.clearfix
                        .col-xs-11
                            .form-group
                                .col-xs-3.text-right
                                    label.control-label
                                        span.star
                                        span 职位名称：
                                .col-xs-8
                                    input.form-control(type='text',name="jobsName")
                            .form-group
                                .col-xs-3.text-right
                                    label.control-label
                                        span.star
                                        span 工作职责：
                                .col-xs-8
                                    textarea.form-control(type='text',name="jobObligation",rows='3')
                            .form-group
                                .col-xs-3.text-right
                                    label.control-label
                                        span.star
                                        span 任职条件：
                                .col-xs-8
                                    textarea.form-control(type='text',name="jobsCondition",rows='3')
                            .form-group
                                .col-xs-3.text-right
                                    label.control-label
                                        span.star
                                        span 薪资描述：
                                .col-xs-8
                                    textarea.form-control(type='text',name="jobsMoney",rows='3')
                        div.con-sm-2
                            a.addBtn.fl(href='javascript:;')
                                i.fa.fa-plus-circle(aria-hidden="true")
                            a.delBtn.fl(href='javascript:;')
                                i.fa.fa-minus-circle(aria-hidden="true")
                .form-group
                    .col-xs-11
                        .col-xs-3.text-right
                            label.control-label
                                span 需求说明：
                        .col-xs-8
                            textarea.form-control(type='text',name='content',rows='5')
                .form-group
                    .col-xs-11
                        .col-xs-3.text-right
                            label.control-label 附件：
                        .col-xs-8
                            input.form-control#accessory(type='file')
                            p(style="letter-spacing:1px") 提示：文件格式为.doc/.docx/.pdf/.html/.zip/.rar/.7z/.iso，上限10M;
                .form-group
                    .col-xs-11
                        .col-xs-3.text-right
                            label.control-label 备注：
                        .col-xs-8
                            textarea.form-control(type='text',name='memo',rows='5')
                div.display_n#comment
                    .col-xs-11
                        .col-xs-3.text-right
                            label.control-label 评价信息：
                        .col-xs-9
                            .col-xs-5
                                p#comment1
                            .col-xs-2.ratingScore.ratingScore-duration
                                span#duration
                                p.ratingText 响应速度
                            .col-xs-2.ratingScore.ratingScore-attitude
                                span#attitude
                                p.ratingText 服务态度
                            .col-xs-2.ratingScore.ratingScore-quality
                                span#quality
                                p.ratingText 服务质量
                div.form-group
                    .col-xs-11
                        .col-xs-8.col-xs-offset-3.text-center
                            button.btn.btn-blue.submit(type="submit") 提交
    include ../include/footer
    script(src="/web/js/huntApply.js")

