doctype html
html.no-js(lang='zh-cn')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
    title
    link(href='/lib/css/bootstrap.min.css', rel='stylesheet')
    link(href='/web/css/style_Yoriki.css', rel='stylesheet')
    link(href='/web/css/common.css', rel='stylesheet')
  body
    .notFund
      .notFundImg
        a.btn.btn-blue(href='/web/index.html') 返回首页
