/*-----游船预约-----*/
.date-picker-list{
  background-color: white;
}
.verify-code-input{
  float: right;
  width: 60%;
}
.verify-code-right{
  width: 3rem;
  height: 1.1rem;
}
.verify-code-image{
  width: 1.8rem;
  height: 0.7rem;
  margin-top: 2em;
  margin-left: 1em;
}
.boatOrder-blank{
  height: 5rem;
}

.boatOrder_top_img{
  width: 100%;
  height: auto;
}
