@personCenter-less: personCenter;

.@{personCenter-less}_par1_div{
  //font-size: 0.34em;
  background-color: #67B2F7;
  color: white;
  width: 100%;
}

.@{personCenter-less}_par2_div{
  font-size: 20px;
  height: 100%;
  padding-bottom: 50px;
  overflow: auto;
}
.@{personCenter-less}_par1_Flex{
  width: 100%;
  text-align: center;
}
.@{personCenter-less}_par1_png{
  width: 20%;
  height: auto;
  border-radius: 50%;
}
.@{personCenter-less}_par2_List{
   borderBottom: 1px solid #ccc;
}
.@{personCenter-less}_par2_Badge{
  margin-left: 0.06rem;
}
.@{personCenter-less}_UnLogin_Flex{
  width: 100%;
  text-align: center;
  display: inline-block;
}

.@{personCenter-less}_UnLogin_color{
 color: #fff;
}
.@{personCenter-less}_UnLogin_re{
  color: #fff;
  margin-left: 0.6rem;
}
.@{personCenter-less}_par2_icon{
  vertical-align: middle;
  margin-right:10px;
}
