@personCenter-less: personCenter;

.@{personCenter-less}_par1_div{
  //font-size: 0.34em;
  background-color: #67B2F7;
  color: white;
  width: 100%;
  padding-top: 0.6rem;
}

.@{personCenter-less}_par2_div{
  font-size: 20px;
  height: 100%;
  padding-bottom: 50px;
  overflow: auto;
}
.@{personCenter-less}_par1_Flex{
  width: 100%;
  text-align: center;
}
.@{personCenter-less}_par1_png{
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 0.6rem;
}
.@{personCenter-less}_par2_List{
   border-bottom: 1px solid #f5f5f9;
}
.@{personCenter-less}_par2_Badge{
  margin-left: 0.06rem;
}
.@{personCenter-less}_UnLogin_Flex{
  width: 100%;
  text-align: center;
  display: inline-block;
}

.@{personCenter-less}_UnLogin_color{
 color: #fff;
}
.@{personCenter-less}_UnLogin_re{
  color: #fff;
  margin-left: 0.6rem;
}
.@{personCenter-less}_par2_icon{
  vertical-align: middle;
  margin-right:10px;
}
.vip_Icon{
  width: 0.54rem;
  height: 0.3rem;
}
.vip1{
  color: goldenrod;
  margin-top: 0.1rem
}
.vip2{
  color: #999;
  margin-top: 0.1rem
}
