extends ./layout
block head
    title  修改密码
block body
        // 主内容区
        .col-sm-8.content
          .pagetitle 修改密码
          form#formYoriki.form-horizontal.personalCenterForm
            .col-sm-10
              .form-group
                label.col-sm-3.control-label(for='userName') 用户名
                .col-sm-9
                  input#userName.form-control(name='username', type='text', readonly='')
            .col-sm-10
              .form-group
                label.col-sm-3.control-label(for='password')
                  | 当前登录密码
                .col-sm-9
                  input#oldpassword.form-control(type='password',name='oldpassword', placeholder='输入您的当前密码')
            .col-sm-10
              .form-group
                label.col-sm-3.control-label(for='password') 新登录密码
                .col-sm-9
                  input#password.form-control(type='password',name='password', placeholder='输入您的新密码')
            .col-sm-10
              .form-group
                label.col-sm-3.control-label(for='confirmPassword') 确认新登录密码
                .col-sm-9
                  input#confirmPassword.form-control(type='password', name='confirmPassword',placeholder='再次输入您的新密码')
            .col-sm-12
              hr.formRowLine
            .form-group
              .formEndingBtn
                button.btn.btn-blue(type='submit') 确认
        script(src='/web/js/bootstrapValidator-logic.js')
        script(src='/web/js/bootstrapValidator-changePassword.js')
