extends ./layout
block head
    title 教室预订
    link(rel="stylesheet", href="/admin/css/index.css")
    link(rel="stylesheet", href="/admin/css/apply.css")
    script(src="/admin/js/classroomEdit.js")
block body
    .col-xs-9.content
        .pagetitle 教室预订
        form.form-horizontal#form(name="form",role="form",method="POST")
            div.form-group
                label.col-sm-3.control-label
                    span.star 姓名:
                div.col-sm-7
                    input.form-control(type="text",name="chineseName")
            div.form-group
                label.col-sm-3.control-label
                    span.star E-mail:
                div.col-sm-7
                    input.form-control(type="text",name="email")
            div.form-group
                label.col-sm-3.control-label
                    span.star 公司名称:
                div.col-sm-7
                    input.form-control(type="text",name="company")
            div.form-group
                label.col-sm-3.control-label
                    span.star 联系方式:
                div.col-sm-7
                    input.form-control(type="text",name="phone")
            div.form-group
                label.col-sm-3.control-label
                    span.star 教室选择:
                div.col-sm-7
                    input.form-control#classroomId(type="hidden",name="classroomId")
                    input.form-control#classroomName(type="text",name="classroomName",readonly)
            div.form-group
                label.col-sm-3.control-label
                    span.star 时间选择:
                div.col-sm-7
                    a.yellow#selectTitle(href="javascript:;") 智能筛选&gt;&gt;
                    div.bg_gray1.display_n#selectShow
                        div.clearfix
                            .input-append.date.form_datetime.fl
                                input(size="16", type="text", readOnly,time='startTime')
                                span.add-on
                                    i.icon-th.fa.fa-table.blue
                            lable.col-sm-1.fl
                                span.lh30 到
                            .input-append.date.form_datetime.fl
                                input(size="16", type="text", readOnly,time='endTime')
                                span.add-on
                                    i.icon-th.fa.fa-table.blue
                        p.mt10
                            label
                                input(type="checkbox",value='1')
                                span.week  星期一
                            label
                                input(type="checkbox",value='2')
                                span.week  星期二
                            label
                                input(type="checkbox",value='3')
                                span.week  星期三
                            label
                                input(type="checkbox",value='4')
                                span.week  星期四
                            label
                                input(type="checkbox",value='5')
                                span.week  星期五
                            label
                                input(type="checkbox",value='6')
                                span.week  星期六
                            label
                                input(type="checkbox",value='0')
                                span.week  星期日
                        p.clearfix
                            label.fl.mt5
                                input(type="radio",checked="checked",value="a",name="asdf")
                                span.week  上午9:00-12:00
                            label.fl.mt5
                                input(type="radio",value="p",name="asdf")
                                span.week  下午13:00-15:00
                            label.fl
                                span.f_gray 预约次数：
                                input.input.pw60#count(type="text")
                        .row
                            .col-sm-12.mt10
                                .col-sm-2.col-sm-offset-5
                                    a.produce#create(href='javascript:;') 生成
                    div#cont
                        .clearfix.bg_gray1.radios
                            .input-append.date.form_datetime.fl
                                input(type="text" size="16" name="dateTimeArray" readonly="")
                                span.add-on
                                    i.icon-th.fa.fa-table.blue
                            label.fl.ml20
                                input(type="radio" name="halfDayArray0" value="a" checked="checked")
                                span.week  上午9:00-12:00
                            label.fl
                                input(type="radio" name="halfDayArray0" value="p")
                                span.week  下午13:00-15:00
                            a.add3.fl(href='javascript:;')
                                i.fa.fa-plus-circle(aria-hidden="true")
                            a.delete1.fl(href='javascript:;')
                                i.fa.fa-minus-circle(aria-hidden="true")
                    span#contNum
            div.form-group
                label.col-sm-3.control-label 需求说明:
                div.col-sm-7
                    textarea.form-control(type="text",name="content")
            div.form-group
                label.col-sm-3.control-label 备注:
                div.col-sm-7
                    textarea.form-control(type="text",name="memo")
            div.form-group
                div.col-sm-9.col-sm-offset-2.text-center
                    button.btn.btn-blue.submit(type="submit") 提交

