extends ./layout
block head
    title 错发回收
    link(rel="stylesheet", href="/admin/css/index.css")
    script(src="/admin/js/errorPost.js")
block body
    .col-xs-9.content
          .pagetitle 错发回收
          table#businessTable(width="100%",cellspacing="0")
