extends ./layout
block head
    title 审核
    link(rel="stylesheet", href="/admin/css/index.css")
block body
    .col-xs-9.content
        .pagetitle 商户审核
        table#merchantTable(width="100%",cellspacing="0")
        div.modal.fade#editModal(tabindex="-1")
            div.modal-dialog.modal-lg
                div.modal-content
                    div.modal-header
                        button.close(type="button", data-dismiss="modal")
                            span &times;
                        h4.modal-title 商户审核
                    div.modal-body
                        form.form.form-horizontal.mer-form#merchantDetail
                            div.form-group
                                label.col-sm-3.control-label 商户名称:
                                div.col-sm-8
                                    input.form-control(type="text",name="name" readonly)
                            div.form-group
                                label.col-sm-3.control-label 营业时间:
                                div.col-sm-4
                                    span 开始时间:
                                        .input-append.date.form_datetime
                                            input(size="16", type="text",value="09:00", name='workStartTime' readonly)
                                            span.add-on
                                                i.icon-th.fa.fa-table.blue
                                div.col-sm-4
                                    span 结束时间:
                                        .input-append.date.form_datetime
                                            input(size="16", type="text", value="22:00", name="workEndTime" readonly)
                                            span.add-on
                                                i.icon-th.fa.fa-table.blue
                            div.form-group
                                label.col-sm-3.control-label 商户分类:
                                div.col-sm-8
                                    input.form-control(type="text",name="type" readonly)
                            div.form-group
                                label.col-sm-3.control-label 商户照片:
                                div.col-sm-8
                                    img#image(src='',width='250',height='150')
                            div.form-group
                                label.col-sm-3.control-label 商户地址:
                                div.col-sm-8
                                    input.form-control(type="text",name="address" readonly)
                            div.form-group
                                label.col-sm-3.control-label
                                    span.star 所属园区:
                                div.col-sm-8
                                    input.form-control(type="text",name="park",readonly)
                            div.form-group
                                label.col-sm-3.control-label
                                    span.star 商户类型标签:
                                div.col-sm-8
                                    input.form-control(type="text",name="parkType",readonly)
                            div.form-group
                                label.col-sm-3.control-label
                                    span.star 是否特邀商户:
                                div.col-sm-8
                                    label(style="margin-right:20px;")
                                        input(type='radio' name="isInvite" value='1' readonly)
                                        | &nbsp;是
                                    label
                                        input(type='radio' name="isInvite" value = '0' readonly)
                                        | &nbsp;否
                            div.form-group
                                label.col-sm-3.control-label 商户电话:
                                div.col-sm-8
                                    input.form-control(type="text",name="phone" readonly)
                            div.form-group
                                label.col-sm-3.control-label 商户简介:
                                div.col-sm-8
                                    textarea.form-control(name="shortIntro",rows='5' readonly)
                        form.form.form-horizontal.mer-form#merchantInfo(name="merhcantInfo",method="POST")
                            input.form-control(type="hidden",name="objectid")
                            input.form-control(type='hidden',name='bCheck',value='2')
                            div.form-group.submitBtn
                                a.btn.btn-blue#submit1 通过
                                button.btn.btn-grey(type='button')#nextStep 不通过
                        form.form.form-horizontal.mer-form#merchantInfo2(name="merhcantInfo2",method='POST')
                            input.form-control(type="hidden",name="objectid")
                            input.form-control(type='hidden',name='bCheck',value='3')
                            div.form-group
                                label.col-sm-3.control-label 不通过理由:
                                div.col-sm-8
                                    textarea.form-control#memo(name="memo",rows='5')
                                    small.help-block 请填写不通过的理由
                            div.form-group.submitBtn
                                a.btn.btn-blue#submit2 确认
                                button.btn.btn-grey(type='button')#preStep 返回
    script(src='/admin/js/merchantAuth.js')





