//
   Created by Hawk on 3/7/16.

extends ./layout
block head
  title 商户审核 - 列表
  link(rel="stylesheet", href="/admin/css/index.css")
  script(src="/admin/js/merchantManagement.js")
block body
  .col-xs-9.content
    .pagetitle 商户列表
    table#memberTable(width="100%",cellspacing="0")