extends ./layout
block head
    title 入驻申请管理
    link(rel="stylesheet", href="/admin/css/index.css")
    link(rel="stylesheet", href="/admin/css/manage.css")
    script(src="/admin/js/postApplyMan.js")
block body
    .col-xs-9.content
        .pagetitle 入驻申请管理
        form#searchForm.select-time(method='', action='')
            .form-group
                a.operate.upload(href='/Setting/EnterApply/Export/List' target='_blank') 导出
                .input-append.date.form_datetime
                    input#startDate(size="16", type="text", name='startTime', readOnly)
                    span.add-on
                        i.icon-th.fa.fa-table.blue
                span 到
                .input-append.date.form_datetime
                    input#endDate(size="16", type="text", name="endTime", readOnly)
                    span.add-on
                        i.icon-th.fa.fa-table.blue
                .username
                    button.btn.btn-blue#searchBtn(type="button") 查询
                    button.btn.btn-blue#clearBtn(type="button") 清除查询
            table#businessTable(width="100%",cellspacing="0")
        div.modal.fade#infoModal(tabindex="-1")
            div.modal-dialog
                div.modal-content
                    div.modal-header
                        button.close(type="button", data-dismiss="modal")
                            span &times;
                        h4.modal-title 入驻申请详情
                    div.modal-body
                        table(cellspacing="0",width="100%")
                            tbody#businessInfo.userInfo
                    div.modal-footer
                        button.btn.btn-blue#closeBtn(data-dismiss="modal") 关闭





