extends ./layout
block head
    title  服务设置
    link(href='/admin/css/setting.css', rel='stylesheet')
block body
    .col-sm-10.content
        .pagetitle 服务设置
        .grid-yoriki
            a(href='/admin/propertyRepairSetting.html')
                img.serviceSettingImg(src='images/serviceSettingImg.png')
                button.btn.btn-pink 物业报修设置
        .grid-yoriki
            a(href='/admin/itRepairSetting.html')
                img.serviceSettingImg(src='images/serviceSettingImg.png')
                button.btn.btn-pink IT网络报修设置
        .grid-yoriki
            a(href='/admin/huntApplyText.html')
                img.serviceSettingImg(src='images/serviceSettingImg.png')
            button.btn.btn-pink 猎聘申请设置
        .grid-yoriki
            a(href='/admin/companyDetail.html')
                img.serviceSettingImg(src='images/serviceSettingImg.png')
                button.btn.btn-pink 企业培训设置
        .grid-yoriki
            a(href='/admin/copyright.html')
                img.serviceSettingImg(src='images/serviceSettingImg.png')
                button.btn.btn-pink 著作权登记设置
        .grid-yoriki
            a(href='/admin/bd.html')
                img.serviceSettingImg(src='images/serviceSettingImg.png')
                button.btn.btn-pink 广告服务设置
        .grid-yoriki
            a(href='/admin/test.html')
                img.serviceSettingImg(src='images/serviceSettingImg.png')
                button.btn.btn-pink 测试设置
        .grid-yoriki
            a(href='/admin/hatch.html')
                img.serviceSettingImg(src='images/serviceSettingImg.png')
                button.btn.btn-pink 入驻申请设置
        .grid-yoriki
            a(href='/admin/hatchText.html')
                img.serviceSettingImg(src='images/serviceSettingImg.png')
                button.btn.btn-pink 企业注册预约设置
        .grid-yoriki
            a(href='/admin/hzCardApply.html?type=hzCardPersonApply')
                img.serviceSettingImg(src='images/serviceSettingImg.png')
                button.btn.btn-pink 个人汇智卡申请设置
        .grid-yoriki
            a(href='/admin/hzCardApply.html?type=hzCardEnterpApply')
                img.serviceSettingImg(src='images/serviceSettingImg.png')
                button.btn.btn-pink 公司汇智卡申请设置
        .grid-yoriki
            a(href='/admin/classroomText.html')
                img.serviceSettingImg(src='images/serviceSettingImg.png')
                button.btn.btn-pink 教室申请评价设置
        .grid-yoriki
            a(href='/admin/meetingRoomText.html')
                img.serviceSettingImg(src='images/serviceSettingImg.png')
                button.btn.btn-pink 会议室申请评价设置

