<!DOCTYPE html>
html(lang="zh-cn")
  head
    meta(charset="UTF-8")
    script(src="/lib/require.js")
    script(src="/lib/main.js")
    script(src="/admin/js/workFlowIframe.js")
    link(href='/lib/css/bootstrap.min.css', rel='stylesheet',type="text/css")
    link(href='/lib/css/font-awesome.min.css', rel='stylesheet',type="text/css")
    link(href='/admin/css/style_Yoriki.css', rel='stylesheet')
    link(href="/admin/css/iframe.css", rel='stylesheet')
  body
    #temp
