extends ./layout
block head
    title  工作流
    link(href="/lib/css/public.css", rel='stylesheet')
    link(href="/admin/css/iframe.css", rel='stylesheet')
    script(src="/admin/js/workflowView.js")
block body
    .col-sm-8.content
        .pagetitle 工作流详情
        hr
    .row
        #temp
