body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  color: #333333!important;
  font-size:50px;
}

html, body {
  height: 100%;
}

body{
  font-size:24px;
}
/*设计稿750  适应各手机屏幕*/
@media screen and (min-width:320px){
  html{font-size:21.333333333333332px;}
  body{font-size:12px;}
}

@media screen and (min-width:360px){
  html{font-size:24px;}
  body{font-size:12px;}
}

@media screen and (min-width:375px){
  html{font-size:25px;}
  body{font-size:12px;}
}

@media screen and (min-width:384px){
  html{font-size:25.6px;}
  body{font-size:14px;}
}

@media screen and (min-width:400px){
  html{font-size:26.666666666666668px;}
  body{font-size:14px;}
}

@media screen and (min-width:414px){
  html{font-size:27.6px;}
  body{font-size:14px;}
}

@media screen and (min-width:424px){
  html{font-size:28.266666666666667px;}
  body{font-size:14px;}
}

@media screen and (min-width:480px){
  html{font-size:32px;}
  body{font-size:15.36px;}
}

@media screen and (min-width:540px){
  html{font-size:36px;}
  body{font-size:17.28px;}
}

@media screen and (min-width:720px){
  html{font-size:48px;}
  body{font-size:23.04px;}
}

@media screen and (min-width:750px){
  html{font-size:50px;}
  body{font-size:24px;}
}


body, button, input, select, textarea {
  font-family: 'Heiti SC', 'Microsoft YaHei';
}

ul, ol, li, dl, dd, dt {
  list-style: none;
}

em {
  font-style: normal;
}

a {
  text-decoration: none;
}

legend {
  color: #333333;
}

fieldset, img {
  border: 0;
}

label, button {
  cursor: pointer;
}

/*解决IE图片缩放失真*/
img {
  -ms-interpolation-mode: bicubic;
}

/*清除浮动*/
.clearfix:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}

.clearfix {
  zoom: 1;
}

.clear {
  clear: both;
}

/*连续英文、数字换行*/
.wordwrap {
  word-break: break-all;
  word-wrap: break-word;
}
p{
  word-wrap:break-word;
  word-break:normal;
}
/*单行文字超出显示省略号*/
.omg {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*蓝色按钮*/
.button_blue {
  background-color: #259dda
}
/*灰色按钮*/
.button_gray {
  background-color: #e1e1e5
}

/*黄色按钮*/
.button_yellow{ background-color: #f76c07;padding: 10px}

a {
  color: #259dda;
}

.nav-tab .am-tabs-bar .am-tabs-tab {
  height: 120px;
  line-height: 50px;
  font-size: 0.28rem;
  filter: grayscale(100%);
}

.nav-tab .am-tabs-bar .am-tabs-tab-active {
  filter: none;
}

.borthday_span {
  width: 0.52rem;
  height: 0.52rem;
  background: #ddd;
  font-size: 0.20rem;
  display: inline-block;
}

/*//.am-list-item img {*/
/*//  height: 80px !important;*/
/*//  width: 80px !important;*/
/*//}*/

.schedule_span {
  font-size: 0.27rem;
  text-overflow: ellipsis;
}

/*.index_tishi {*/
  /*height: 25px;*/
  /*width: 25px;*/
  /*!*padding: 3px 3px;*!*/
  /*border-radius: 25px;*/
  /*line-height: 25px;*/
  /*font-size: 15px;*/
  /*margin-left: 100px;*/
  /*text-align: center;*/
  /*color: white;*/
  /*background: red;*/
  /*position: absolute;*/
  /*top: 20px;*/
  /*left: 0px;*/
  /*z-index: 2;*/
/*}*/
/*通知管理的提示dot*/
.index_tishi2 {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 0.36rem;
  line-height: 0.36rem;
  width: 0.48rem;
  min-width: 0.18rem;
  border-radius: 0.24rem;
  /*padding: 0 0.08rem;*/
  text-align: center;
  font-size: 0.24rem;
  color: #fff;
  background-color: #ff5b05;
  white-space: nowrap;
  -webkit-transform: translateX(-45%);
  transform: translateX(-45%);
  -webkit-transform-origin: -10% center;
  transform-origin: -10% center;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC",
  "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", SimSun, sans-serif;
  /*width: 0.3rem;*/
  position: fixed;
  top: 0.8rem;
  left: 4.8rem;
  z-index: 2;
}

.am-list-item .am-list-thumb:first-child {
  margin-right: 0;
}

.am-list-item .am-list-line .am-list-content {
  font-size: 0.3rem !important;
}

.am-list-item .am-list-line .am-list-brief {
  font-size: 0.28rem !important;
}

.am-list-item .am-list-line .am-list-extra {
  font-size: 0.26rem !important;
}

.am-list-item .am-list-line .am-list-extra {
  color: #333 !important;
}

.notice_dta {
  text-align: center;
  margin-top: 110px;
  border-bottom: 3px solid #c77b7c;
  padding-bottom: 50px;
  white-space: nowrap;
  /*overflow: hidden;*/
  text-overflow: ellipsis;
  padding-left: 20px;
  padding-right: 20px;
}

.my-list {
  margin-top: 30px;
}

.am-list-body {
  border-top: none !important;
}

.Opertion_text {
  line-height: 80px;
}

.circulated_list {
  border-bottom: 1px solid #ccc;
  background: white;
}

.circulated_list .am-textarea-control textarea {
  font-size: 0.27rem !important;
}

.am-checkbox-agree .am-checkbox {
  left: 90% !important;
  right: 0 !important;

}

.am-checkbox-agree .am-checkbox-agree-label {
  margin-left: 0 !important;
}

.update_pwd .am-list-item .am-list-line .am-list-extra {
  color: #ccc !important;
}

.update_text {
  border-top: 1px solid #888888;
  border-bottom: 1px solid #cccccc;
  margin-top: 20px;
}

.am-list-item .am-list-line .am-list-brief {
  font-size: 0.25rem !important;
  color: #333 !important;
}

.index_list .am-checkbox-agree {
  padding-top: 0;
  padding-bottom: 0;
}

.index_list .am-checkbox-agree .am-checkbox {
  top: 10%;
}

.tabSelect {
  display: inline-block;
  text-align: center;
  line-height: 0.4rem;
}

.tabSelect-icon {
  margin-top: 10%;
}

.tabSelect_img {
  /*width: 100%;*/
  height: auto;
  margin-top: 20px;
}

.index_menu {
  border: none;
  margin-top: 10px;
  min-height: 1rem !important;
  padding-bottom: 0;
}

/*-------解绑--------*/
.Unbunding_part {
  margin-left: 16px;
  margin-right: 16px;
}

/*------已绑定--------*/
.bound-left {
  display: inline;
  float: left;
  text-align: center;
  margin-left: 0.8rem;
}
.bound-right {
  display: inline;
  text-align: center;
  padding-left: 4em;
}
.bound-font-left {
  text-align: center;
  background-color: #bfcaa1;
  height: 0.5rem;
  width: 2rem;
  padding-top: 1em;
}
.bound-font-right {
  text-align: center;
  background-color: #bfcaa1;
  height: 0.5rem;
  width: 2rem;
  float: right;
  padding-top: 1em;
  margin-right: 2.5em;
}
.bound-font-bottom {
  float: left;
  width: 4.5rem;
  height: 2em;
  margin-left: 1rem;
}


/*重写轮播dot位置和颜色*/
.my-carousel .v-item {
  height: 0.72rem;
  line-height: 0.72rem;
  padding-left: 0.2rem;
}
.am-carousel-wrap-dot-active > span {
  background: #259dda;
}
.carousel_max .am-carousel-wrap-dot > span{
  margin: 0 0.14rem;
}
.carousel_max .slider-decorator-0 {
  bottom: 0.5rem!important;
}

/*重写安卓alert*/
.am-modal.am-modal-android .am-modal-content .am-modal-header{
  text-align: center!important;
  display: inline-block!important;
}
.am-modal.am-modal-android .am-modal-content{
  border-radius: 0.20rem!important;
}
.am-modal.am-modal-android .am-modal-content .am-modal-footer{
  text-align: center;
  display: inline-block;
  width: 100%;
   padding-bottom: 0!important;
}
.am-modal.am-modal-android .am-modal-content .am-modal-body{
  border-bottom: 1px solid #ddd;
}
.am-modal.am-modal-android .am-modal-content .am-modal-footer .am-modal-button-group-v .am-modal-button{
  width: 100%;
  padding: 0!important;
   margin-left: 0!important;
  height: auto!important;
}
.am-modal.am-modal-android .am-modal-content .am-modal-footer .am-modal-button-group-v{
  padding: 0!important;
}
.am-modal.am-modal-android .am-modal-content .am-modal-header .am-modal-title{
  margin: 0;
  font-size: 0.36rem!important;
  line-height: 1;
  text-align: center;
}
.am-modal.am-modal-android .am-modal-content .am-modal-body {
  font-size: 0.28rem!important;
  color: #888!important;
  height: 100%!important;
  overflow: auto;
  text-align: center!important;
}
.am-modal.am-modal-android .am-modal-content .am-modal-footer .am-modal-button-group-h{
  padding: 0!important;
  width: 100%;
}
.am-modal.am-modal-android .am-modal-content .am-modal-footer .am-modal-button-group-h .am-modal-button{
  width: 50%;
  padding: 0!important;
  margin-left:0!important;
}
.am-modal.am-modal-android .am-modal-content .am-modal-footer .am-modal-button-group-h .am-modal-button:first-child{
  color: #000!important;
  border-right: 1PX solid #ddd!important;
}
