
#adman{
    margin-top:22px;
}
.label{
    width:133px;
    text-align: right;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 3.2px;
    color: #333333;
}
.adinput{
    color:#333333;
    width:400px;
    border-radius: 4px;
}
.dataTables_wrapper{
    padding-bottom:30px;
}
.dataTables_filter{
    text-align:right;
}
.dataTables_filter input{
    background:#eee;
    width:220px;
    border:1px solid #eee;
    height:30px;
    border-radius:5px;
    margin-right:20px;
    text-indent:1em;
}
.dataTables_filter input:focus{
    border-color: #428bca;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
}
.dataTable{
    margin:15px 0;
}
.dataTable>thead{
    background:#f7f7f7;
    border:1px solid #eee;
    white-space:nowrap;
}
.dataTable>thead>tr>th{
    font-size:14px;
    /*letter-spacing:3.6px;*/
    color:#4a4a4a;
    padding:16px 10px 12px;
    font-weight:normal;
    text-align: center;
}
.dataTable>tbody>tr>td{
    color:#4a4a4a;
    font-size:14px;
    text-align: center;
    padding:12px 0;
    letter-spacing: 0.6px;
    word-break:break-all;
}
.dataTable>tbody>tr{
    border-bottom:1px solid #ddd;
}
.dataTables_paginate{
    text-align:center;
}
.dataTables_paginate .paginate_button{
    display: inline-block;
    color:#428bca;
    border:1px solid #ddd;
    border-right:none;
    padding:5px 9px;
    text-align: center;
    cursor:pointer;
}
.dataTables_paginate .paginate_button.current{
    background:#428bca;
    color:#fff;
    border:1px solid #428bca;
    border-right:none;
}
.dataTables_paginate .previous,.dataTables_paginate .next{
    letter-spacing:0.2px;
}
.dataTables_paginate .next{
    border-right:1px solid #ddd;
}
.dataTables_paginate .last{
    letter-spacing:0.2px;
    border-right:1px solid #ddd;
}
#addRepair{
    float:right;
    position: relative;
    top:12px;
}
#addRepair .dropdown-menu{
    min-width:125px;
}
#addRepair>button.btn{
    border:1px solid #ccc;
    border-radius:5px;
    position: relative;
    outline:0;
    padding:2px 35px;
}
#addRepair>button.btn>.caret{
    margin-left:5px;
    position: absolute;
    top:11px;
    right:5px;
}
#companyTable{
    table-layout:fixed;
}
#companyTable tbody>tr>td:nth-child(2),#companyTable tbody>tr>td:nth-child(6){
    cursor:pointer;
}
/**********modal css*************/
.operate{
    padding:0 2px;
    cursor:pointer;
}
.statusTip{
    text-align: center;
    font-size:16px;
    color:#333;
    padding:0 0 30px 0;
    margin-top:-15px;
}
button.close{
    outline:none;
    font-size:28px;
}
.modal-content{
    border-radius:2px;
}
.modal-header{
    background-color:#f5f5f5;
}
.modal-title{
    font-size:20px;
    color:#4a4a4a;
}
.submitBtn{
    padding: 20px 0;
    text-align: center;
     border-top: none;
}
.submitBtn .btn+.btn{
    margin-left:10px;
}
@media (min-width: 768px){
    .modal-sm {
        width: 450px;
    }
    .modal-dialog {
        margin: 130px auto;
    }
}
.userInfo>tr>td{
    font-size:14px;
    color:#333;
    padding:8px 0px;
    letter-spacing:2px;
    width: 70%;
    display: inline-block;
    word-break:break-all;
    vertical-align:top;
}
.userInfo>tr>td img{
    max-width: 100%;
}
.userInfo>tr>td:first-child{
    width: 20%;
    text-align:right;
    padding-right:10px;
}

.userform .control-label{
    color:#4a4a4a;
    text-align: right;
}
.userform select.form-control{
    /*border:none;
    padding:0;*/
}
.form-horizontal .has-feedback .form-control-feedback{
    top:10px;
}

.addUser{
    position: absolute;
}
.pageBox{
    overflow:hidden;
    padding-bottom:15px;
}
.pageBox>.operate{
    line-height: 35px;

}
.searchBox{
    float:right;
}
.searchBox input{
    background: #eee;
    width: 220px;
    border: 1px solid #eee;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    height: 30px;
    text-indent: 1em;
}
.searchBox .fa-search{
    display: inline-block;
    line-height: 30px;
    width: 30px;
    text-align: center;
    background:#cbcbcb;
    color:#fff;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    cursor:pointer;
}
.searchBox input:focus{
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.richtextList{
    padding-bottom:40px;
}
.richtextList .media{
    border-top:1px solid #eee;
    padding:40px 30px 35px;
}
.richtextList .media .media-right{
    width:150px;
    padding-top:32px;
    padding-left:40px;
}
.richtextList .media .media-right span{
    display: block;
    width:160px;
}
.richtextList .media-body{
    padding:15px 26px 0 47px;
}
.richtextList .media-lf{
    display: table-cell;
    width: calc(100% - 180px);
    padding-right:20px;
    float:left;
}
.richtextList .media-rg{
    display: table-cell;
    width:180px;
    float:right;
}
.richtextList .media-body>.media-left{
    min-width:700px;
}
.richtextList .media-body h4{
    font-size:20px;
    padding-bottom:10px;
}
.richtextList .media:last-child{
    border-bottom:1px solid #eee;
}
.richtextList .media-left>img{
    width:140px;
}
.richtextList>nav{
    text-align:center;
}
.pagination>li>a{
    width:36px;
    height:36px;
}

.pagination>li>a:hover,.pagination>li>a.prevPage,.pagination>li>a{
    cursor:pointer;
    background-color:#fff;
    color:#428bca;
    border:1px solid #ddd;
}
.pagination>li.current>a{
    background-color:#428bca;
    color:#fff;
}
.pagination>li.current>a{
    color:#fff;
    background-color:#428bca;
    border:none;
}
.statusTip nav li a{
    width: 38px;
    height: 36px;
}
 .fa-cloud-upload{
    font-size:40px;
 }
.dropify-message>p{
    text-align:center;
}
/****flowTracking.html  css *************/
.flowTrack .nav-tabs{
    float:left;
}
.flowTrack .tab-content{
    clear:both;
    margin-right:60px;
}
.flowTrack .tab-pane{
    padding-top:0;
}
/********** logMgt.html ***************/
.select-time .form_datetime{
    display:inline-block;
    padding:0 6px;
}
.select-time .username{
    display:inline-block;
    padding:0 6px;
}
.select-time .username input{
    border:1px solid #ccc;
    height:28px;
    margin-left:6px;
}
.select-time .username >.btn{
    padding:4px 10px;
    margin-left:15px;
}
.help-block{
    display:none;
}
.empty{
    color: #a94442;
    display:block;
}
#merchantInfo,#merchantDetail{
    display:block;
}
#merchantInfo2{
    display:none;
}
#discount{
    display:none;
}
.discount2{
    display:none;
}
.saleBox .fa-jpy{
    float: left;
    line-height: 32px;
}
.saleBox .price{
    width: 150px;
    float:left;
    margin-left: 10px;
}
.set-reply .form-control{
    display:inline-block;
    width:60%;
    margin-right: 20px;
}

.min30{
    min-height: 40px;
}
.minModel700{
    min-width: 700px;
}
/*园区详情样式调整*/
#parkInfo td p{
    font-size: 14px;
    margin: 0 0;
}
/*应聘情况加粗*/
.namebold{
    font-weight: bold;
}
.ml20{
    margin-left:20px;
}
.mt-4{
    margin-top: -4px;
}
.right{
    float:right;
    margin-right:100px;
}
.select-time{
    line-height:30px;
}

.select-type{
    display:inline-block;
    margin-left:10px;
    margin-right:30px;
    width:200px;
}
.raty-list{
    list-style:none;
}
.tab-two{
    text-align:center;
    border-bottom: 4px double #ccc;
    padding-bottom: 10px;
}
.tab-two>li{
    display:inline-block;
    background: #eee;
    margin: 0 5px;
    width: 200px;
}
.tab-two>li>a{
    color:#333;
}
.tab-two>li.active>a{
    color:#0088cc;
}
.form-radio{
    line-height:34px;
}
.form-radio>input{
    margin-left:10px;
}


/*********************** red packet ******************/
#chart{
    width:640px;
    height:400px;
    background:#eee;
    display:inline-block;
    letter-spacing:1px;
}
.chart-group{
    text-align:center;
    margin-bottom:20px;
}
.chart-group .form_datetime{
    margin:10px;
    display:inline-block;
}
.chart-group button{
    margin-right:10px;
    margin-top:10px;
    padding:4px 12px;
}
.chart-pane{
    width:220px;
    display: inline-block;
    vertical-align: top;
    list-style:none;
    padding-left:20px;
    letter-spacing:1px;
}
.chart-pane>li>span{
    display:block;
    font-size:16px;
    color:#333;
    padding:5px;
}
.chart-pane>li{
    margin-bottom:20px;
}
.mer-form{
    display:none;
}
.red-tips{
    font-size:12px;
    line-height:30px;
    color:Red;
}