footer
  .container
    hr.footerLine
    ul.footerLink
      li
        a(href='/web/aboutUs.html') 关于我们
      li
        a(target='_blank' href='http://www.spsp.com.cn/News/1.html') 新闻中心
      li
        a(href='/web/siteMap.html') 网站地图
      li
        a(href='/web/contactUs.html') 联系我们
      li
        a(href='/web/helpCenter.html') 帮助中心
    .footerInfo
        span Copyright © 2014. Shanghai Pudong Software Park Co.,Ltd. All rights reserved
        span 上海浦东软件园股份有限公司 ©版权所有 沪ICP备05002644号-6
        span Powered by Huizhi Software
