//条形码
.codeBar_loc {
  text-align: center;
}
.codeBar_loc_bar{
  text-align: center;
}
//二维码
//.codeQr_loc {
//  text-align: center;
//}
//.codeQr_sty {
//  margin-right:16%;
//}
//确认支付按钮
.btn-confirm {
  background: #259dda;
  font-size: 1em;
  margin-top: 1.5em;
  color: #fff;
  border: 1PX solid #108ee9;
  display: block;
  outline: 0 none;
  -webkit-appearance: none;
  box-sizing: border-box;
  padding: 0;
  text-align: center;
  height: 0.84rem;
  line-height: 0.84rem;
  border-radius: 0.1rem;
}

.codeBar_lable{
  padding: 30px;
  font-size: 1.6em;
  display: inline-block;
}
.codeBar_bg{
  background-color: #ffffff;
  margin-top: 2rem;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 10px;
  padding-bottom: 0.5rem;
}
