/*--------用户绑定须知------------*/
.instruction-binding-warp {
  height: 100%;
}

.instruction-binding-item {
  text-align: center;
}

.instruction-head {
  font-size: 1.4em;
  font-family: sans-serif;
}

.instruction-content {
  font-family: sans-serif;
  font-size: 0.29rem;
  letter-spacing: 0.01rem;
  color: #333333;
}
.instruction-content p{
  padding: 0.1rem;
}

.instruction-binding-btn {
  text-align: center;
  padding: 30px;
}
.instruction-binding-img{
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 2;
  top:0;
}
.instruction_list{
  margin-top: 20%;
}
