.transaction-tabpane{
  background-color: white;
}
.transaction-table-pan {
  display: flex;
  background-color: white;
}
.transaction-wingBlank-tab{
  margin-top: 1rem;
}
.transaction-wingBlank-tab .am-card{
  margin-top: 0.1rem;
}
.transaction-wingBlank-tab p{
  padding-left: 0.3rem;
  padding-top: 0.14rem;
  padding-bottom: 0.14rem;
  line-height: 1.5;
}
.transaction-wingBlank{
  margin-top: 0.4rem;
}
.transaction-wingBlank .am-card{
  padding-bottom: 0;
}
.transaction-list {
  margin-top: 10px;
  background-color: whitesmoke;
}
.transaction-list-item {
  //background-color: whitesmoke;
  border-bottom-width: 0;
}

/*.am-card {
  margin-top: 1.5em;
  background-color: whitesmoke;
}*/

.transaction_line{
  text-align: center;
  width: 100%;
  position: fixed;
  top:1.4rem;
  z-index: 4;
}
.transaction_detail{
  display: inline-block;
  width: 25%;
  padding-top: 0.4rem;
  padding-bottom: 0.2rem;
  background-color: #fff;
}
.transaction_tishi{
  display: inherit;
  padding: 0.2rem;
  color: red;
}
