.RedPacket_img {
  width: 100%;
  height: auto
}

.RedPacket_left,.RedPacket_right {
  //display: flex;
  text-align: center;
  height: auto;
  //background-color: #fff
}

.packet {
  display: block;
  text-align: center;
  height: 1.8rem;
  width: 100%;
  background: url("../../../assets/card/redPacket_bg.png");
  //background-color: #F74D3E;
  margin: auto  ;
}
//.packet_no{
//  background-color: #eee;
//}
.packet_money {
  text-align: center;
  height: 1rem;
  width: 6rem;
  margin-Top: 20px
}

.big{
  color: #F72646;
  font-size: 1em;
}
.big_no{
  color: #bbb;
  font-size: 1em;
}
.yuan {
  //color: #fff;
  font-size: 0.4rem;
  line-height: 65px;
  //margin-left: 30px
}

.packet_time {
  font-size: 0.9em;
  text-align: left;
  padding: 0.1rem;
  color: #bbb;
  background-color: #eee;
  padding-left: 0.3rem;
}
.RedPacket_Tabs .am-tabs-bar .am-tabs-tab,.RedPacket_list .am-list-body{
  background-color: #f5f5f9!important;
}

.RedPacket_Icon{
  height: 0.73rem;
  width: 0.79rem;
}
.RedPacket_Icon_div{
  float: left;
  margin-top: 4%;
  margin-left: 4%;
}
.RedPacket_list{
  overflow: hidden;
}
.RedPacket_list .am-list-body{
  margin-top: 0.2rem;
}
.RedPacket_font_right{
  text-align: left;
  float: left;
  margin-top: 6%;
  margin-left: 10%;

}
.RedPacket_font{
  margin: 0.2rem 0 0.2rem 0;
  display: inline-block;
  color: #bbb;
  font-size: 0.9em;
}
.RedPacket_font_big{
  font-size: 1.1em;
}
.RedPacket_color_no{
  color: #bbb!important;
}
.redPacket_line{
  text-align: center;
  width: 100%;
}
.redPacket_detail{
  display: inline-block;
  width: 50%;
  padding-top: 0.4rem;
  padding-bottom: 0.2rem;
  background-color: #fff;
}

.packet_none{
  text-align: center;
  padding-top: 65px;
  font-size: 0.32rem;
  color: #999;
}
.packet_none_png{
  width: 1rem;
  height: 1.2rem;
}
