//Created by z on 2016/10/24.
extends ../layout
block head
    title  活动中心
    link(href='/web/css/serviceCenter.css', rel='stylesheet')
    script(src="/web/js/activityDetail.js")
block body
    .html-title.activity
    .container
        .row.rich-content
            #content

    include ../include/footer


