extends ../layout
block head
    title  活动中心
    link(href='/web/css/serviceCenter.css', rel='stylesheet')
    script(src="/web/js/activityCenter.js")
block body
    .html-title.activity
    .container
        //#banner.banner
        ul.classShow.clearfix#cont
        #pagination.paginator



    include ../include/footer

