extends ../layout
block head
  title  修改密码
block body
  header.jumbotron-purple-sm.center-vertically-sm(role='banner')
    .container
      hr.pageTitleLine
      .pageTitleDiv
        span.pageTitle 个人中心
      hr.pageTitleLine
  .container
    .row
      include ../include/sidebar
      .col-sm-9.mainContent
        .contentTitle 修改密码
        form#formYoriki.form-horizontal.personalCenterForm(autocomplete='off')
          .col-sm-10
            .form-group
              label.col-sm-3.control-label(for='userName') 用户名
              .col-sm-9
                input#userName.form-control(name='username', type='text', readonly='')
          .col-sm-10
            .form-group
              label.col-sm-3.control-label(for='password')
                | 当前登录密码
                a#forget(href='#', data-toggle='tooltip', data-placement='top', title='忘记密码？')
                  i.fa.fa-question-circle
              .col-sm-9
                input#oldpassword.form-control(name='oldpassword', type='password', placeholder='输入您的当前密码')
          .col-sm-10
            .form-group
              label.col-sm-3.control-label(for='password') 新登录密码
              .col-sm-9
                input#password.form-control(name='password', type='password', placeholder='输入您的新密码')
          .col-sm-10
            .form-group
              label.col-sm-3.control-label(for='confirmPassword') 确认新登录密码
              .col-sm-9
                input#confirmPassword.form-control(name='confirmPassword', type='password', placeholder='再次输入您的新密码')
          .col-sm-12
            hr.formRowLine
          .form-group
            .formEndingBtn
              button.btn.btn-blue(type='submit') 确认
  include ../include/footer
  script(src='/web/js/sidebar.js')
  script(src='/web/js/bootstrapValidator-logic.js')
  script(src='/web/js/bootstrapValidator-changePassword.js')
