block head
    title  生活中心
    link(rel='stylesheet' href='/web/css/lifeCenter.css')
    script(src='/lib/js/jquery-1.11.1.min.js')
    script(src='/web/js/lifeCenter/richText.js')

block body
    #content

