/*--------用户须知------------*/
.user-instruction-button{
  margin-top: 1em;
}
.user-instruction-button .btn1 {
  margin-left: 1.5rem;
  background-color: lightgray;
  border-color: lightgray;
}

.user-instruction-button .btn1 span {
  color: darkgray;
}

.user-instruction-button .btn2 {
  margin-left: 1em;
}
