#sidebar
    ul
        //li#navservice.submenu
        //    a(href='#')
        //        i.fa.fa-diamond
        //        span 服务
        //        i.fa.fa-angle-down(style='float:right')
        //    ul
        //        li#navservice-form-common
        //            a(href='form-common.html') 业务办理
        //        li#myTodo
        //            a(href='myTodo.html') 经办事项
        //        li#errorPost
        //            a(href='errorPost.html') 错发回收
        //        li#navservice-form-validation
        //            a(href='flowTracking.html') 流程跟踪
        //li#navmanagement.submenu
        //    a(href='#')
        //        i.fa.fa-sitemap
        //        span 管理
        //        i.fa.fa-angle-down(style='float:right')
        //    ul
        //        li#navmanagement-memberMgt
        //            a(href='/admin/memberMgt.html') 注册会员管理
        //        li#navmanagement-insideUserMgt
        //            a(href='/admin/InsideUserMgt.html') 内部用户管理
        //        li
        //            a(href='/admin/roleMgt.html') 角色管理
        //        li
        //            a(href='/admin/permissionMgt.html') 权限管理
        //        li
        //            a(href='/admin/companyMgt.html') 企业管理
        //        li
        //            a(href='#') 汇智卡在线充值管理
        //        li
        //            a(href='#') 汇智卡操作日志管理
        //        li
        //            a(href='#') 素材管理
        //        li
        //            a(href='/admin/richtextMgt.html') 富文本管理
        //        li
        //            a(href='#') 附件管理
        //        li
        //            a(href='/admin/dataDict.html') 数据字典管理
        //        li
        //            a(href='/admin/logMgt.html') 日志管理
        //li#navsetting.submenu
        //    a(href='#')
        //        i.fa.fa-cogs
        //        span 设置
        //        i.fa.fa-angle-down(style='float:right')
        //    ul
        //        li#navsetting-serviceSetting
        //            a(href='/admin/serviceSetting.html') 服务设置
        //        li#navsetting-webcontentSetting
        //            a(href='/admin/webcontentSetting.html') 网站内容设置
        //li#navstatistics.submenu
        //    a(href='#')
        //        i.fa.fa-bar-chart
        //        span 统计
        //        i.fa.fa-angle-down(style='float:right')
        //    ul
        //        li#navstatistics-statisticsWeb
        //            a(href='/admin/statisticsWeb.html') 网站数据
        //        li#navstatistics-statisticsService
        //            a(href='/admin/statisticsService.html') 服务数据
        //        li
        //            a(href='#') 汇智卡数据
