.contact-as-list {
  height: 1rem;
  margin-left: 1em;
  margin-top: 1em;
  margin-right: 1em;
}

.contact-list-item {
  background-color: whitesmoke;
  border-bottom: 1px solid #e1e1e5;
}

.contact-btn-getCode {
  background: #259dda;
  font-size: 0.9em;
  float: right;
  margin-top: 1.1em;
  width: 2.1rem;
  margin-right: 1em;
}

.contact-btn-container {
  margin-top: 30px;
}

.btn-next-step {
  background: #259dda;
  font-size: 1em;
  margin-top: 1.5em;
}

.contact-input-code {
  width: 58%;
  border-bottom: 1px solid #e1e1e5;
  margin-left: 1em;
}
