@MyXiaozhi-less: MyXiaozhi;

.@{MyXiaozhi-less}_img {
  width: 100%;
  height: 1.4rem;
  position: fixed;
  z-index: 2;
  top:0;
}
.@{MyXiaozhi-less}_Item{
  background-color: #ffffff;
  color: #333333;
  float: left;
}
.@{MyXiaozhi-less}_list{
  margin-left: 16px;
  margin-right: 16px;
  color: #333333;
  margin-top: 6px;
}
.@{MyXiaozhi-less}_fontSize{
  font-size: 5px;
}
.@{MyXiaozhi-less}_Flex{
  border-left: 1PX solid #ddd;
}
.@{MyXiaozhi-less}_cardNo{
  text-align: center;
  padding: 0.3rem;
}
.@{MyXiaozhi-less}_money{
  text-align: center;
  padding: 16px;
}
.@{MyXiaozhi-less}_money_bg{
  text-align:center;
  border-width:2px;
  border-style:dashed;
  border-color:#ffaa00;
  margin-left:15%;
  margin-right:15%;
  margin-top:5px
}
.@{MyXiaozhi-less}_money_hidden{
 margin:5px;
 padding:10px;
 background-color:#e1e1e5
}
.@{MyXiaozhi-less}_detail p{
  padding: 0.1rem;
}
.@{MyXiaozhi-less}_top{
  margin-top: 1.4rem;
}
.@{MyXiaozhi-less}_fontSize .am-list-body{
  position: relative;
  background-color: #fff;
}
.MyServer_div{
  position: fixed;
  width: 100%;
  margin-left: 0.16rem;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 12.2rem;
  //margin-bottom: 2rem;
  top: 1.4rem;
  //margin-bottom: 1rem;
}
.MyServer_div h3 {
  line-height: 2;
  color: #999;
  font-size: 0.3rem;
}
.MyServer_div h2 {
  text-align: center;
  line-height: 2.4;
  color: #FF6C52;
  font-size: 0.32rem;
}
.MyServer_div ul li {
  line-height: 1.5;
  color: #333;
  font-size: 0.3rem;
}
.MyServer_div_img{
  width: 1.4rem;
  height: 1.4rem;
  vertical-align: middle;
  margin-left: 1.6rem;
  margin-top: -0.38rem;
}
.@{MyXiaozhi-less}_moneyPosition{
  position: fixed;
  width: 96%;
  z-index: 1;;
  margin-top: 0.24rem;
}

.@{MyXiaozhi-less}_MyPosition{
  position: fixed;
  top: 4.9rem;
  z-index:3;
  width: 96%;
  height: 0.8rem;
  background-color: #fff;
  padding-top: 0.6rem;
  margin-left: 16px;
  border-bottom: 4PX solid #f5f5f9;
}
.@{MyXiaozhi-less}_MyPosition1{
  position: fixed;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  top: 6.3rem;
  z-index: 1;
  width: 96%;
  height: 5.8rem;
  background-color: #fff;
  margin-left: 16px;
  border-bottom: 4PX solid #f5f5f9;
}
//未绑卡显示绑卡申请卡的样式
.@{MyXiaozhi-less}_MyPosition_un{
  position: fixed;
  top: 3.7rem;
  z-index:3;
  width: 96%;
  height: 0.8rem;
  background-color: #fff;
  padding-top: 0.6rem;
  margin-left: 16px;
  border-bottom: 4PX solid #f5f5f9;
}
.@{MyXiaozhi-less}_MyPosition1_un{
  position: fixed;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  top: 5.1rem;
  z-index: 1;
  width: 96%;
  height: 7rem;
  background-color: #fff;
  margin-left: 16px;
  border-bottom: 4PX solid #f5f5f9;
}
.@{MyXiaozhi-less}_unboundPosition{
  position: fixed;
  width: 96%;
  z-index: 1;
  margin-left:0.16rem;
  margin-right:0.16rem;
  margin-top: 0.2rem;
  border-radius: 10px;
  background-color: #fff;
}

.MyXiaozhi_list .am-list-body .am-card .am-card-body{
  padding: 0;
}
.MyXiaozhi_smallBtn{
  margin-left: 0.4rem;
  margin-top: 0.2rem;
  color: #FF6C52;
  background-color: transparent;
  border: 1PX solid #FF6C52;
}
.MyXiaozhi_smallBtn_ok{
  margin-left: 0.4rem;
  margin-top: 0.2rem;
  color: #888888;
  background-color: transparent;
  border: 1PX solid #888888;
}
.MyXiaozhi_cancelBtn{
  margin-left: 0.4rem;
  margin-top: 0.2rem;
  display: inline-block;
  color: #888888;
  border: 1px solid #888888;
  border-radius: 0.1rem;
  font-size: 0.24rem;
  height: 0.6rem;
  line-height: 0.6rem;
  padding: 0 0.2rem;

}
.MyXiaozhi_server_Item{
  background-color: #ffffff;
  color: #333333;
  float: left;
  width: 92%;
}

.detail_p{
  margin-top: -0.42rem;
  margin-left: 1.5rem;
}
.Detail_bottom{
  margin-bottom: 1.6rem;
}
